<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ac.feelwind.worldheritagedetravel"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuizStart" android:label="@string/app_name"></activity>
        <activity android:name=".Menu" android:label="@string/app_name"></activity>
        <activity android:name=".Tutorial" android:label="@string/app_name"></activity>
        <activity android:name=".Top" android:label="@string/app_name"></activity>
        <activity android:name=".Character" android:label="@string/app_name"></activity>
		<activity android:name=".RankingHeritage" android:label="@string/app_name"></activity>
		<activity android:name=".CheckList" android:label="@string/app_name"></activity>
		<activity android:name=".DBManager" android:label="@string/app_name"></activity>
		<activity android:name=".TiikiQuiz" android:label="@string/app_name"></activity>
		<activity android:name=".Europe1Quiz" android:label="@string/app_name"></activity>
		<activity android:name=".Europe2Quiz" android:label="@string/app_name"></activity>

    </application>

</manifest>
